/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/rgb.h>

#define THUMBSMAC 0
#define SYMBOLS 1
#define NUMBERS 2
#define MOUSE 3
#define CONFIG 4

/ {
        behaviors {
                hm: homerow_mod {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping_term_ms = <280>;
                        quick-tap-ms = <170>;
                        require-prior-idle-ms = <125>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                        display-name = "Home-Mod";
                };

                mth: mod_tap_hold {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping_term_ms = <220>;
                        quick-tap-ms = <190>;
                        require-prior-idle-ms = <125>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                        display-name = "Mod-Tap-Hold";
                };

                thl: tap_hold_layer {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping_term_ms = <220>;
                        quick-tap-ms = <190>;
                        require-prior-idle-ms = <125>;
                        flavor = "tap-preferred";
                        bindings = <&mo>, <&kp>;
                        display-name = "Tap-Hold-Layer";
                };

                cpx: copypastecut {
                        compatible = "zmk,behavior-hold-tap";
                        #binding-cells = <2>;
                        tapping_term_ms = <280>;
                        quick-tap-ms = <170>;
                        require-prior-idle-ms = <125>;
                        flavor = "tap-preferred";
                        bindings = <&kp>, <&kp>;
                        display-name = "Copy-Paste-Cut";
                };

                // on tap CONFIG, on double tap MOUSE
                dt_config_mouse: config_mouse {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <190>;
                        bindings = <&mo CONFIG>, <&tog MOUSE>;
                        display-name = "Config/Mouse Toggle";
                };

                // on tap SYMBOLS, on double tap MOUSE
                dt_symbols_mouse: symbols_mouse {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <190>;
                        bindings = <&mo SYMBOLS>, <&tog MOUSE>;
                        display-name = "Symbols/Mouse Toggle";
                };

                // on tap TAB, on double tap ESC and on hold LALT
                dth_tab_esc_holdalt: double_tap_tab_esc_holdlalt {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <190>;
                        bindings = <&mt LALT TAB>, <&kp ESC>;
                        display-name = "Tab/Esc/LAlt";
                };

                dth_rbkt_esc_holdralt: double_tap_rbkt_esc_holdralt {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <190>;
                        bindings = <&mt RALT RIGHT_BRACKET>, <&kp ESC>;
                        display-name = "RBrkt/Esc/RAlt";
                };

                // on tap 8, on ctrl+tap UP
                eightctrlup: eight_ctrl_up {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp N8>, <&kp UP>;
                        mods = <(MOD_LCTL|MOD_RCTL)>;
                        display-name = "8/Ctrl+Up";
                };

                // on tap &, on ctrl+tap LEFT
                ampsctrlleft: amps_ctrl_left {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp AMPS>, <&kp LEFT>;
                        mods = <(MOD_LCTL|MOD_RCTL)>;
                        display-name = "&/Ctrl+Left";
                };

                // on tap *, on ctrl+tap DOWN
                starandctrldown: star_ctrl_down {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp STAR>, <&kp DOWN>;
                        mods = <(MOD_LCTL|MOD_RCTL)>;
                        display-name = "*/Ctrl+Down";
                };

                // on tap (, on ctrl+tap RIGHT
                lparctrlright: lpar_ctrl_right {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp LPAR>, <&kp RIGHT>;
                        mods = <(MOD_LCTL|MOD_RCTL)>;
                        display-name = "(/Ctrl+Right";
                };

                // on tap 6, on ctrl+tap PGUP
                sixctrlpgup: six_ctrl_pgup {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp N6>, <&kp PG_UP>;
                        mods = <(MOD_LCTL|MOD_RCTL)>;
                        display-name = "6/Ctrl+PgUp";
                };

                // on tap ^, on ctrl+tap PDOWN
                caretctrlpgdn: caret_ctrl_pgup {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp CARET>, <&kp PG_DN>;
                        mods = <(MOD_LCTL|MOD_RCTL)>;
                        display-name = "^/Ctrl+PgDn";
                };

                // on tap 7, on ctrl+tap HOME
                sevenctrlhome: seven_ctrl_home {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp N7>, <&kp HOME>;
                        mods = <(MOD_LCTL|MOD_RCTL)>;
                        display-name = "7/Ctrl+Home";
                };

                // on tap 9, on ctrl+tap END
                ninectrlend: nine_ctrl_end {
                        compatible = "zmk,behavior-mod-morph";
                        #binding-cells = <0>;
                        bindings = <&kp N9>, <&kp END>;
                        mods = <(MOD_LCTL|MOD_RCTL)>;
                        display-name = "9/Ctrl+End";
                };
        };

        keymap {
                compatible = "zmk,keymap";


                thumbsmac_layer {
                        label = "THUMBSv3";
// | ESC | TAB  |  Q  |  W  |  E  |  R  |  T  |             |  Y  |  U  |    I    |   O   |   P   |      `/~      | ESC |
//       | SHFT |  A  |  S  |  D  |  F  |  G  |             |  H  |  J  |    K    |   L   | ; ∆ : | ¬SHFT ∆ ' ø " |
//       | CTRL |  Z  |  X  |  C  |  V  |  B  |             |  N  |  M  |  , ø <  | . ø > | / ∆ ? | ¬CTRL ∆ \ ø | |
//    | ¬LALT ∆ DEL | ¬SYBOLS ∆ SPC | LCMD ∆ RET |       | RCMD ∆ RET | ¬SYBOLS ∆ SPC | ¬RALT ∆ BKSP |
                        bindings = <
   &kp ESC   &kp TAB      &kp Q         &kp W         &kp E         &kp R         &kp T               &kp Y      &kp U      &kp I       &kp O       &kp P      &kp GRAVE                 &kp ESC
             &kp SYMBOLS  &kp A         &kp S         &kp D         &kp F         &kp G               &kp H      &kp J      &kp K       &kp L       &kp SEMI   &thl SYMBOLS SINGLE_QUOTE
             &kp LCTRL    &cpx LG(Z) Z  &cpx LG(X) X  &cpx LG(C) C  &cpx LG(V) V  &kp B               &kp N      &kp M      &kp COMMA   &kp DOT     &kp FSLH   &mth RCTRL BACKSLASH
                                                        &mth LALT DEL   &mth SHFT SPACE   &mth LCMD RET    &mth RCMD RET   &mth SHFT SPACE   &mth RALT BSPC
                        >;
                };


                symbols_layer {
                        label = "SYMBLSv4";
// -------------------------------------------JORNE--SYMBOLSv4----------------------------------------------
// | CONFIG ø ESC |  -v-  |  1  |  2  |  3  |   4   |   5   |             | 6/PGUP | 7/HOME |  8/UP  |  9/END  |   0   |  -v-  | CONFIG ø ESC |
//                |  -v-  |  !  |  @  |  #  |   $   |   %   |             | ^/PGDN | &/LEFT | */DOWN | (/RIGHT |   )   |  -v-  |
//                |  -v-  |     |  (  |  )  | ] ø } | [ ø { |             |   -/_  |  +/=   |   ,/<  |   ./>   | / ∆ ? |  -v-  |
//                                     |  -v-  |  -v-  |  -v-  |       |  -v-  |  -v-  |  -v-  |     
                        bindings = <
   &thl CONFIG ESC   &trans  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5           &sixctrlpgup    &sevenctrlhome  &eightctrlup        &ninectrlend    &kp N0     &trans   &thl CONFIG ESC
                     &trans  &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT        &caretctrlpgdn  &ampsctrlleft   &starandctrldown    &lparctrlright  &kp RPAR   &trans
                     &trans  &none     &kp LPAR  &kp RPAR  &kp LBKT  &kp RBKT         &kp MINUS       &kp EQUAL       &kp COMMA           &kp DOT         &kp FSLH   &trans
                                                        &trans  &trans  &trans      &trans  &trans  &trans
                        >;
                };

                ////////////////
                // OLD LAYERS //
                ////////////////

                thumbsmacold_layer {
                        label = "THUMBS";
// | LALT-TAB-ESC | CONFG/MOUSE |  Q     |    W   |    E   |    R   |  T  |             |  Y  |    U   |    I   |    O   |    P   |  [/{  | RALT-]/} |
//                |    SYMBS    |  A     |    S   |    D   |    F   |  G  |             |  H  |    J   |    K   |    L   |    ;   |   '   |
//                |    NUMBS    |  Z     |    X   |    C   |    V   |  B  |             |  N  |    M   |   ,/<  |  ./>   |   /    |  \/|  |
//                                          | LCTRL-DEL | LSFT-SPC | LCMD-RET |      | RCMD-RET | RSTF-SPC | RCTRL-BKSP |
                        bindings = <
   &dth_tab_esc_holdalt   &dt_config_mouse  &kp Q    &kp W         &kp E         &kp R                       &kp T     &kp Y      &kp U      &kp I       &kp O       &kp P           &kp LEFT_BRACKET   &dth_rbkt_esc_holdralt
                          &mo SYMBOLS       &kp A    &kp S         &kp D         &kp F                       &kp G     &kp H      &kp J      &kp K       &kp L       &kp SEMI        &kp SINGLE_QUOTE
                          &none             &kp Z    &cpx LG(X) X  &cpx LG(C) C  &cpx LG(V) V                &kp B     &kp N      &kp M      &kp COMMA   &kp DOT     &kp FSLH        &kp BACKSLASH
                                              &mth LCTRL DEL   &mth LSHFT SPACE  &mth LCMD RET        &mth RCMD RET   &mth RSHFT SPACE   &mth RCTRL BSPC
                        >;
                };


                symbolsold_layer {
                        label = "SYMBLSv3";
// -------------------------------------------JORNE--SYMBOLSv3----------------------------------------------
// | TAB | CONFG/MOUSE |  1  |  2  |  3  |  4  |  5  |             | 6/PGUP | 7/HOME |  8/UP  |  9/END  |  0  | [/{  | ESC |
//       |     -v-     |  !  |  @  |  #  |  $  |  %  |             | ^/PGDN | &/LEFT | */DOWN | (/RIGHT |  )  | ]/} |
//       |     -v-     |     |     |     |     |     |             |   -/_  |  +/=   |   ,/<  |   ./>   |     | `/~ |
//                         | LCTRL-DEL | LSFT-SPC | RET |       | RET | RSTF-SPC | RCTRL-BKSP |     
                        bindings = <
   &kp TAB   &dt_config_mouse  &kp N1    &kp N2  &kp N3    &kp N4    &kp N5           &sixctrlpgup    &sevenctrlhome  &eightctrlup        &ninectrlend    &kp N0     &kp LBKT    &kp ESC
             &trans            &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT        &caretctrlpgdn  &ampsctrlleft   &starandctrldown    &lparctrlright  &kp RPAR   &kp RBKT 
             &trans            &none     &none   &none     &none     &none            &kp MINUS       &kp EQUAL       &kp COMMA           &kp DOT         &none      &kp GRAVE
                                      &mth LCTRL DEL  &mth LSHFT SPACE  &kp RET   &kp RET  &mth RSHFT SPACE   &mth RCTRL BSPC
                        >;
                };

                ////////////////////
                // OLD LAYERS END //
                ////////////////////


                numbers_layer {
                        label = "NUMBR";
// -----------------------------------------------------------------------------------------
// | -v- | CONFG | LALT |  7  |  8  |  9  | +/= |       | PGUP| ___ |  UP | ___ | HOME| ___  | ESC |
//       | -v-   | SHFT |  4  |  5  |  6  | -/_ |       | PGDN| LEFT| DOWN| RGHT| END | CAPS |
//       | -v-   | CTRL |  1  |  2  |  3  |  0  |       | ___ | ___ | ,/< | ./> |  /  | LCMD |
//                              | -v- | -v- | RET |   | RET | -v- | -v- |
                        bindings = <
   &trans &tog CONFIG &kp LALT   &kp N7 &kp N8 &kp N9 &kp EQUAL          &kp PG_UP &none    &kp UP    &none     &kp HOME  &none     &kp ESC
          &trans      &kp LSHFT  &kp N4 &kp N5 &kp N6 &kp MINUS          &kp PG_DN &kp LEFT &kp DOWN  &kp RIGHT &kp END   &caps_word
          &trans      &kp LCTRL  &kp N1 &kp N2 &kp N3 &kp N0             &none     &none    &kp COMMA &kp DOT   &kp FSLH  &kp LCMD
                                             &trans &trans &kp RET    &kp RET  &trans &trans
                        >;
                };
 

                mouse_layer {
                        label = "MOUSE";
// -----------------------------------------------------------------------------------------
// | -v- | CONFG | LALT | ___ | ___ | ___ | SCRL_DOWN |   | SCRL_DOWN | SCRL_LEFT  |   MOVE_UP  | SCRL_RIGHT  | ___ | ___ | ___ |
//       |  -v-  | SHFT | ___ | ___ | ___ |  SCRL_UP  |   |  SCRL_UP  | MOVE_LEFT  | MOVE_DOWN  | MOVE_RIGHT  | ___ | ___ |
//       |  -v-  | CTRL | ___ | ___ | ___ |    ___    |   |    ___    |     ___    |    ___     |     ___     | ___ | -v- |
//                                 | -v- | -v- | LCLK |   |RCLK| -v- | -v- |
                        bindings = <
   &trans &tog CONFIG &kp LALT  &none &none &none &msc SCRL_DOWN         &msc SCRL_DOWN &msc SCRL_LEFT &mmv MOVE_UP   &msc SCRL_RIGHT &none &none &none
          &trans      &kp LSHFT &none &none &none &msc SCRL_UP           &msc SCRL_UP   &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none &none
          &trans      &kp LCTRL &none &none &none &none                  &none &none          &none          &none           &none &none
                                           &trans &trans &mkp LCLK    &mkp RCLK &trans &trans
                        >;
                };


                config_layer {
                        label = "CONFG";
// -----------------------------------------------------------------------------------------
// | -v- | -v- |  THUMBSMAC   | NUMBERS      |  SYMBOLS  |  MOUSE  | HOMEMODMAC |   | EXT_POWER_ON_CMD | EXT_POWER_OFF_CMD | EXT_POWER_TOGGLE_CMD |         | ZMK_STUDIO |  BLDR    | RST |
//       | -v- | SYMBOLSTWO   | SYMBOLSTHREE | OUT_BLE   | OUT_TOG |  OUT_USB   |   |      RGB_ON      |      RGB_OFF      |       RGB_OG      | RGB_SPI |   RGB_SPD  |  RGB_EFF |
//       | -v- |  VALORANT    | BT0          | BT1       | BT2     | BTCLR      |   |      BL_ON       |      BL_OFF       |       BL_TOG         | BL_INC  |   BL_DEC   |    ___   |
//                                              | -v-       | -v-     | -v-     |   | -v- | -v- | -v- |
                        bindings = <
   &trans &trans  &to THUMBSMAC    &to NUMBERS    &to SYMBOLS   &to NUMBERS   &to MOUSE          &ext_power EP_ON  &ext_power EP_OFF  &ext_power EP_TOG  &studio_unlock   &none            &bootloader      &sys_reset
          &trans  &none            &none          &out OUT_BLE  &out OUT_USB  &out OUT_TOG       &rgb_ug RGB_ON    &rgb_ug RGB_OFF    &rgb_ug RGB_TOG    &rgb_ug RGB_SPI  &rgb_ug RGB_SPD  &rgb_ug RGB_EFF
          &trans  &none            &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_CLR         &bl BL_ON         &bl BL_OFF         &bl BL_TOG         &bl BL_INC       &bl BL_DEC       &none
                                                                           &trans &trans &trans   &trans &trans &trans
                        >;
                };
        };
};
